body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/* Header */

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: #2e2f42;
}
/* .header-link {
  line-height: 1.5;
} */

.header-nav .header-link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.header-nav .header-link:hover,
.header-nav .header-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-contact {
  color: #434455;
  line-height: 1.5;
  text-decoration: none;
}
.address-contact:hover,
.address-contact:focus {
  color: #404bbf;
}


/* Main */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  color: #ffffff;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}


/* Feature */

/* .feature-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42; 
}*/
  

/* .feature-item {
  color: #434455;
  line-height: 1.5;
} */
.feature-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* .feature-item-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */


/* Our Team */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
  line-height: 1.5;
}

.team-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-item-text{
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
}


/* Portfolio */

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/* Footer */

.footer {
  background-color: #2e2f42;
  color: white;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
}
