body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  /* outline: 2px solid red; */
}
a {
  text-decoration: none;
}

/* ======Header====== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.header-logo-accent {
}
.header-list {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-link {
  text-decoration: none;
}
.address {
}
.address-list {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.address-item {
}
.address-contact {
}

header-nav .header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-nav .header-link {
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
}

.header-nav .header-link:hover,
.header-nav .header-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-contact {
  color: #434455;
  line-height: 1.5;
  text-decoration: none;
}
.address-contact:hover,
.address-contact:focus {
  color: #404bbf;
}

/* ======Main====== */

.hero {
  background-color: #2e2f42;
  padding: 188px 472px;
  display: flex;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: #ffffff;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* ======Feature====== */

.feature {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .feature-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42; 
} */

.feature-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 8px; */
}

.feature-item {
  color: #434455;
  line-height: 1.5;
  max-width: 264px;
}

.feature-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 8px;
}

.feature-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======Our Team====== */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 80px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-item {
  background-color: #ffffff;
  line-height: 1.5;
  display: inline-flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}

.team-card {
}

.team-card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  display:block;
  justify-content:center;
  align-items:center;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
}

/* ======Portfolio====== */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-bottom: 48px;
}

.portfolio-image {
  display: block;
}

.card-content {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ======Footer====== */

.footer {
  background-color: #2e2f42;
  color: white;
  padding-top: 101.5px;
  padding-bottom: 100px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
}
